.form-container{
    box-shadow: 0px -0px 49px -4px rgba(82, 82, 82, 1);
    background-color: #fff;
}
.form-input{
    width: 80%;
    height: 15px;
    outline: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 7px;
    margin: 8px;
}
.form-btn{
    margin-top: 15px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 2px;
    width: 80%;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    box-sizing: content-box;
}
.create-label{
    width: 80%;
    display: block;
    text-align: left;
    font-size: 12px;
    color: #555;
    margin: 2px auto 0 auto;
    color: red;
}
.textField {
    resize: none;
    height: 100px;
}