.link{
    text-decoration: none;
    color: #000;
    outline: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 25px;
    transition: .2s all ease-in-out;
    border-bottom: 1px solid #000;
}
.link:nth-child(2){
    margin-left: 20px;
}
.link:hover{
    background-color: #eee;
}

.form-label:focus{
    color: #000;
}