*{
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Lato';
  background: linear-gradient(75deg, rgba(255, 255, 255, 1) 0%, rgba(228, 196, 138, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
